#header {
 padding:20px;
 text-align: center;
 background-color: #a3ddf2;
}
#trapezoid {
	border-bottom: 145px solid #a3ddf2;
    border-left: 111px solid transparent;
    border-right: 111px solid transparent;
    height: 0px;
    width: 238px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: 780px;
    }

 