#header {
 padding:20px;
 text-align: center;
 background-color: #a3ddf2;
}
#trapezoid {
	border-bottom: 100px solid #a3ddf2;
	border-left: 90px solid transparent;
	border-right: 90px solid transparent;
	height: 0;
	width: 200px;
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    }

 